.success{
    padding: 20px 0;
    .user{
        font-weight: bold;
        color: $bannerColor;
    }
    h2{
        margin: 30px 0;
    }
    p{
        font-size: 25px;
        margin-bottom: 25px;
        .team{
            font-weight: bold;
            color: $bannerColor;
        }
    }
    img{
        height: 220px;
        margin-bottom: 30px;
    }
}
.error{
    padding: 20px 0;
    .err{
        color: red;
    }
    h2{
        margin: 30px 0;
    }
    p{
        font-size: 25px;
        margin-bottom: 25px;
        .team{                       
            font-weight: bold;
            color: $bannerColor;
        }
    }
    img{
        height: 220px;
        margin-bottom: 30px;
    }
}