h1#title {
  font-size: 40px;
  font-weight: bolder;
  color: $main_color;
  margin: 20px 0;
}

.comments {
  display: flex;
  flex-wrap: wrap;

  .comment {
    width: calc(50% - 20px);
    border: 2px solid $background_color;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

    h5 {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      margin: 5px 0;
    }
  }
}

p.link_dashboard {
  margin: 10px 0 30px;
}