main {
    section {
        padding: 50px 0;

        .my_container {
            height: 100%
        }
    }

    #info,
    #reviews,
    #statistics,
    #sponsor {
        height: 60vh;
    }

  #info {
    background-color: #ccdbd8;
    
  }

  #reviews {
    //code
  }

  #statistics {
    
  }

  #sponsor {
    background-image: url("https://wallpaperaccess.com/full/3464162.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .text {
        color: #17a2b8;
        
        h2 {
            font-size: 40px;
            margin-bottom: 20px;
        }
    }
  }
}