main {    
    #info,
    #reviews,
    #sponsor,
    #statistics {
        height: 90vh;
        padding: 50px 0;
        
        .my_container {
            height: 100%;
        }
    }

    #info {
        background-color: #ccdbd8;

        .my_container.info {
            
            .details,
            .image_box {
                flex-basis: 50%;
            }

            .image_box {
                figure {
                    img {
                        max-width: 80%;
                        border-radius: 50%;

                        @media screen and (max-width: 992px) {
                            width: 60%;
                        }

                        @media screen and (max-width: 768px) {
                            width: 50%;
                        }

                        @media screen and (max-width: 576) {
                            width: 75%;
                        }
                    }
                }

                .info-buttons {
                    margin-top: 30px;
                    width: 100%;

                    @media screen and (max-width: 992px) {
                        margin-top: 0;
                    }
                }
            }
            
            .details {
                flex-direction: column;
                padding-top: 30px;
                
                .details-title,
                .bio {
                    flex-basis: 50%;
                    height: 200px;
                }

                .details-title {
                    flex-direction: column;
                    justify-content: space-around;
                    height: 50px;

                    h1 {
                        margin-bottom: 5px;

                        @media screen and (max-width: 992px) {
                            font-size: 20px;
                            text-align: center;
                        }
                    }

                    .name {
                        color: $bannerColor;
                        font-size: 60px;
                        font-style: italic;
                        
                        @media screen and (max-width: 992px) {
                            font-size: 25px;
                        }
                    }

                    h4 {
                        color: $bannerColor;
                        margin-bottom: 15px;
                    }

                    @media screen and (max-width: 992px) {
                        flex-direction: row;
                    }
                }
                
                .bio {
                    flex-direction: column;
                    overflow-y: auto;
                    width: 100%;

                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                    }
                }
                
                @media screen and (max-width: 992px) {
                    flex-direction: column;
                    padding-top: 5px;
                }
            
                @media screen and (max-width: 992px) {
                    flex-direction: column;
                }
            }

            @media screen and (max-width: 992px) {
                flex-direction: column;
            }
        }
    }

    #reviews {
        background-color: $background-color;

        .reviews,
        .reviews-image {
            flex-basis: 50%;
        }

        .reviews-image {
            img {
                width: 100%;
            }
        }
    }

    #statistics {
        background-color: $main_color;

        .statistics,
        .statistics-image {
            flex-basis: 50%;
        }

        .statistics-image {
            img {
                width: 100%;
            }
        }
    }

    #sponsor {
        background-color: #dfdfdf;
        /* background-image: url("https://wallpaperaccess.com/full/3988500.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 15%; */

        .text {            
            h2 {
                color: $bannerColor;
                font-size: 45px;
                font-weight: 600;
                margin-bottom: 35px;
            }

            p {
                color: #000;
                font-size: 25px;
                letter-spacing: 1px;
            }

             @media screen and (max-width: 576px) {
                h2 {
                    font-size: 35px;
                }

                p {
                    font-size: 20px;
                }
             }
        }
    }
}
