main {
    .edit-form {
        h2,
        h3 {
            color: $bannerColor;
            font-weight: 600;
        }
    
        .info-box {
            align-items: center;
            padding-top: 20px;
    
            .image-box {
                img {
                    width: 75%;
                    border-radius: 50%;

                    @media screen and (max-width: 768px) {
                        width: 60%;
                    }
                }
            }

            .text-box {
                width: 100%;

                h4 {
                    color: $bannerColor;
                    font-size: 50px;
                    font-weight: 600;
                    font-style: italic;

                    @media screen and (max-width: 768px) {
                        font-size: 35px;
                    }
                }
            }
        }

        .bio-text-box {
            textarea {
                max-width: 100%;
            }
        }
    }
}