.infoShow {
    padding: 80px 0;
    .my_container {
        display: flex;
        justify-content: space-between;
    }
    .card {
        width: calc((100% / 3) - 10px);
        padding: 40px 25px;
        max-width: 270px;
    }
}