.infoShow {
    /* padding: 80px 0; */
    .my_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        width: calc((100% / 3) - 10px);
        padding: 40px 25px;
        max-width: 270px;
        div {
            font-size: 40px;
            color: #1662c6;
        }
        h3 {
            margin:15px 0 35px;
            min-height: 90px;
        }
    }
}

.sponsorDoc {
    .my_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .doctorLogo {
            font-size: 100px;
            color: $bannerColor;
        }
    }
}

.SearchLinks {
    text-align: center;
    background-image: url('../../img/background.png');
    background-size: cover;
    background-position: center;
    .specializations {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px;
    }
    .specialization_container {
        min-width: 30%;
        max-width: 33%;
        padding: 20px 0;
        margin-bottom: 10px;
        border-bottom: 2px solid $bannerSecondary;

        a {
            color: $bannerSecondary;
            font-weight: 500;
            font-size: 15px;

            &:last-of-type {
                align-self: flex-start;
            }
        }
    }
}

.glassMorph {
    padding-top: 85px;
    .glass {
        margin: auto;
    }
    .glass_blue {
        .glass {
            background: linear-gradient(180deg,rgba(191,241,255,.4),rgba(122,194,255,.4));
            .text {
                order: 2;
            }
            .glass_img {
                background: linear-gradient(180deg,rgba(174,216,252,.8),rgba(136,197,255,.8));;
                order: 1;
                margin-left: 0;
                margin-right: 40px;
                svg {
                    fill: white;
                }
            }
        }
    }
}

@media screen and (max-width: 1365px){
    .glassMorph {
        .glass {
            .text {
                p {
                    margin: 10px 0;
                }
            }

            .my_action.small {
                padding: 0 50px;
            }
        }
    }
}

/* @media screen and (max-width: 1110px){
    .glass {
        flex-direction: column;
        .text {
            width: 100%;
            order: 2;
            margin-top: 0px;
            padding-bottom: 30px;
        }
        .glass_img {
            width: 100%;
            margin: 0;
            svg {
                width: 70px;
            }
        }
    }
} */

@media screen and (max-width: 800px) {
    .infoShow {

        .card {
            margin-top: 80px;
            width: 50%;
            &:last-child {
                margin: 80px auto 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .infoShow {
        .my_container {
            justify-content: center;
        }
        
        .card {
            margin-top: 80px;
            width: 100%;
        }
    }
}