.my_container#search {
    padding: 50px 0 30px;

    .filter-options {

        .filter_bar,
        .search_input {
            flex-basis: 50%;
        }

        .filter_bar {            
            .select-box {
                select {
                    color: $white;
                    background-color: $background_color;
                    border: none;
                    border-radius: 15px;
                    font-weight: 600;
                    padding: 15px 10px;
                }
            }

            input,
            output {
                vertical-align: middle;
            }

            input {
                &[type="range"] {
                    background-color: $background_color;
                    border-radius: 15px;
                    overflow: hidden;
                    -webkit-appearance: none;
                    width: 90%;
                }
            }

            output {
                color: $bannerColor;
                font-size: 700;
                margin-left: 10px;
            }
        }

        .search_input {
            position: relative;

            input {
                color: $bannerColor;
                background-color: rgba($color: #9dbbac, $alpha: 0.1);
                font-weight: 600;
                border: none;
                border-radius: 20px;
                margin: 20px 0;
                padding: 8px 20px 8px 40px;
                width: 80%;
                outline: none;
                caret-color: $bannerColor;
            }

            .fa-search {
                position: absolute;
                font-size: 14px;
                left: 15px;
                top: 34px;
                vertical-align: middle;
                color: gray;
            }

            @media screen and (max-width: 768px) {
                input {
                    width: 80%;
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;          
        }
    }

    .doctor_container {
        min-height: 500px;
        padding-top: 40px;

        .cardDoctor {
            
            .docAvatar {
                width: auto;
                align-items: center;
                
                .image_box {
                    border-radius: 50%;
                    overflow: hidden;
                    transition: 0.8s;

                    &:hover {
                        transform: scale(1.2);
                    }
                    
                    img {
                        width: 100%;
                    }
                }
            }
            
            .docInfo {
                border-radius: 15px;
                padding: 10px 15px;
                width: 75%;
                transition: 0.3s;
                
                &:hover {
                    background-color: $background_color;
                    
                    h3 {
                        color: $white;
                    }
                }

                .name-star {
                    align-items: center;

                    span {
                        color: #fabb0c;
                        font-size: 20px;
                        margin-left: 15px;
                        text-shadow: 1px 1px 4px #fabb0c;
                    }
                }
            }
        }
    }
}

