.profile {
    .details {
        display: flex;
        padding: 30px 0;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        h1 {
            // color: $bannerColor;
            font-size: 60px;
            font-weight: bolder;
            font-style: italic;

            @media screen and (max-width: 768px) {
                font-size: 40px;
            }
        }

        .col_left {
            width: 30%;

            .image_box {
                border-radius: 50%;
                overflow: hidden;
                
                img {
                    width: 100%;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
            }

            @media screen and (max-width: 768px) {
                width: 60%;
                padding-bottom: 25px;
            }
        }

        .col_right {
            width: 70%;
            padding-left: 20px;

            .specializations {
                margin-top: 20px;
            }
        }
    }

    h3 {
        color: $bannerColor;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p.par {
        margin: 5px 0;
        font-size: 22px;
    }

    section {
        padding: 20px 0;
    }

    nav.menu {
        a {
            color: $bannerColor;
            font-weight: bold;
            font-size: 20px;
            padding-right: 15px;
            border-bottom: 3px solid transparent;

            &:hover {
                text-decoration: none;
            }
        }
        /* ul {
            display: flex;

            li {
                font-weight: bold;
                font-size: 20px;
                margin-right: 15px;
                border-bottom: 3px solid transparent;

                a {
                    color: $bannerColor;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &:hover {
                    border-bottom: 3px solid $bannerColor;
                }
            }
        } */
    }

    #services {
        .service_cont {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .service {
                width: 40%;
                padding: 25px 0;
                border-bottom: 1px solid lightgrey;
                font-size: 24px;
                font-weight: bold;

                @media screen and (max-width: 992px) {
                width: 100%;
            }

                .euro {
                    font-size: 18px;
                    font-weight: 300;
                    font-style: italic;
                }
            }

            i {
                font-size: 7px;
                vertical-align: middle;
                color: $bannerColor;
                margin: 0 15px;
            }
        }
    }

    .review_cont {
        display: flex;
        flex-wrap: wrap;

        .review_box {
            padding: 10px;
            margin-right: 15px;
            margin-bottom: 10px;
            border: 2px solid $background_color;
            border-radius: 10px;
            width: calc((100% / 3) - 15px);
            height: 300px;
            overflow-y: auto;

            @media screen and (max-width: 992px) {
                width: calc((100% / 2) - 15px);
            }

            @media screen and (max-width: 669px) {
                width: 100%;
            }

            .top {
                display: flex;
                justify-content: space-between;

                .username {
                    color: $bannerColor;
                    font-size: 18px;
                }
            }

            .date {
                margin: 10px 0;
            }
        }
    }
      .star-widget{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
      }
      .star-widget label{
        font-size: 40px;
        color: #444;
        padding: 10px;
        transition: all 0.2s ease;
        cursor: pointer;        
      } 
      input[type="radio"]{
          display: none;
      }
      input:not(:checked) ~ label:hover,
      input:not(:checked) ~ label:hover ~ label{
        color: #fd4;
      }
      input:checked ~ label{
        color: #fd4;
      }
      input#rate-5:checked ~ label{
        color: #fe7;
        text-shadow: 0 0 20px #952;
      }
    i.fa-star {
        display: initial;
        filter: drop-shadow(1px 1px 1px black);
        background: linear-gradient(to top right, gold 0%, yellow 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    // .services {
    //   display: flex;
    //   flex-wrap: wrap;
    //   .service_box {
    //     display: flex;
    //     justify-content: space-between;
    //     width: 23%;
    //     background-color: $background_color;
    //     border-radius: 10px;
    //     padding: 10px;
    //     margin: 0 10px 10px 0;
    //     .right {
    //       margin-left: 20px;
    //     }
    //   }
    // }
}
