h1.stat_title {
    font-weight: bolder;
    color: $bannerColor;
    padding: 40px 0 30px;
    text-align: center;
}

.canvas_container {
    width: 85%;
    margin: auto;
    height: 50%;
    margin-bottom: 60px;
}
