h1.stat_title {
    font-weight: bolder;
    color: $bannerColor;
    padding: 40px 0 30px;
    text-align: center;
}

.chart_1 {
  width: 85%;
  margin: auto;
  height: 50%;
  margin-bottom: 60px;

  h4 {
    text-align: center;
    color: $secondary_color;
    margin-bottom: 20px;
  }
}
