.card {
    background-color: $white;
    -webkit-box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.79);
    box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.79);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    .days {
        font-weight: 600;
    }

    .saving {
        font-size: 14px;
        color: $red;
    }
}

.docAvatar {
    img {
        max-width: 120px;
        width: 100%;
    }
}

.cardDoctor {
    display: flex;
    width: 100%;
    margin: 30px 0;

    @media screen and (max-width: 576px) {
        flex-direction: column;
        align-items: center;
    }

    .docInfo {
        width: 85%;
        margin: 0 20px;
        padding: 0 10px 20px 10px;
        background-color: rgba($color: #9dbbac, $alpha: 0.1);        
        position: relative;

        @media screen and (max-width: 576px) {
            margin: 15px 0;     
        }

        .name-star {
            align-items: center;

            span {
                color: #fabb0c;
                font-size: 20px;
                margin-left: 15px;
                text-shadow: 1px 1px 4px #fabb0c;

                @media screen and (max-width: 576px) {
                    margin: 10px 0;
                }
            }

            @media screen and (max-width: 576px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .sponsor {
            position: absolute;
            top: 8px;
            right: 8px;
            transform: rotate(-25deg);
            width: 50px;

            @media screen and (max-width: 768px) {
                top: 15px;
                right: 40%;
            }

            @media screen and (max-width: 576px) {
                top: 8px;
                right: 8px;
            }
        }

        h3 {
            color: $bannerColor;
        }

        a {
            display: inline-block;
            margin: 10px 0;
        }
    }
}
